*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 20vw;
}

/* colori */

.lightred{
    background-color: #FEC0CB;
}

.red{
    background-color: red;
}

/* altezza */

.style{
    height: 20vh;
    border: 1px solid black;
    text-align: center;
    line-height: 1000%;
}

